@media(min-width:1150px){
html *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#root{
    font-family: 'Yusei Magic', sans-serif;
    min-height: 100vh;
}
#root a:hover{
    text-decoration: none;
    
}

/* HEADER */
header{
    height: 22vh;
    width: 100%;
    display: flex!important;
    justify-content: space-between;
    background-image: url('../assets/banner2.jpg');
    background-size: cover;
    background-position:100% 63%
    
}

header nav{
    display:flex!important;
    flex-direction:column;
    justify-content: flex-start;
    align-self:flex-end;
    width:25%;
    height:90%;
    margin-right:3%;
    
}
.nav_buttons{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items:center
}
.nav_buttons p{
    padding-right:2%;
}
.links{
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-grow:1
}
header nav a{
    background-color:rgb(132,12,12);
    height:40%;
    padding:1.3% 6% ;
    border-radius:4px;
    color:rgb(255, 255, 255);
    display:flex;
    align-items: center;
}
header nav a:hover{
    background-color: rgba(159, 166, 209, 0.658);
    color:rgb(132,12,12);
    transition: color 0.2s, background-color 0.5s;

}
header nav p{
    margin:0; 
}
.btn_dropdown{
    background-color:'white';
    cursor:pointer;
    border:1px solid black
}

.dropdown_content{
    background-color:rgb(211, 197, 197);
    border-radius:3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:2% 3%;
    width:30%;
}
.dropdown_content a{
    text-align:center;
    margin:1% 2%;
    height:1.5em;
}



.logo{
    width:40vw;
    height:100%;
    background-image:url("../assets/logo.png");
    background-size:42%;
    background-repeat:no-repeat;
    margin: 0 6%

}
/* HOME PAGE*/
.home_page{
    min-height: 150vh;
    width: 100%;
    background-image:url('../assets/fondo_mapa1.jpg') ;
    background-attachment:fixed;
    padding-bottom:5%;
}

.slogan{
    display:flex;
    flex-direction: column;
   align-items: center;
 
}
.slogan h3, .cities_page h3, .itineraries_page h3, .register h3{
    background-color: rgb(136, 12, 12);
    width:100%;
    font-size:1.7em;
    height:1.8em;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    text-shadow: 2px 2px 0 rgb(0, 0, 0);
    margin:0;
    
   
}
.next_page a:hover{
    transform:scale(1.1);
    text-decoration:none;
    display: flex;
    transition-duration: 600ms;
    transition-delay: 100ms;
    
 }
.next_page{
    width:25%;
    height: 20vh;
    margin-top:3%;
    transition: scale 600ms;
    
}
.next_page img{
    width:100%;
    border: 12px solid rgb(132,12,12);
   
    
}


.PopularMYtineraries{
    padding-top:3%;
    margin:auto;
    width:80%;
    display:flex;
    flex-direction:column;
    align-items: center;

}
.PopularMYtineraries>h2{
    background-color: rgb(136, 12, 12);
    padding:1% 2%;
    color:whitesmoke;
    border-radius: 8px;
    user-select: none;
    margin-bottom: 2%;
  
}
div.carousel.slide{
    width:100%;
    border:6px dotted rgba(136, 12, 12, 0.425);
}
a.carousel-control-next{
    margin-right:-9%;
    opacity: .8;
}
a.carousel-control-prev{
    margin-left:-9%;
    opacity:.8;
}
a.carousel-control-prev:hover,a.carousel-control-next:hover{
    opacity:1;
   
}
.carousel-control-next-icon{
    background-image:url('../assets/avion-next.png')!important;
    padding:34%;
    
} 
.carousel-control-prev-icon{
    background-image:url('../assets/avion-prev.png')!important;
    padding:34%;

}

.carousel-caption h2{
    font-weight: bold; 
    text-shadow:3px 3px  0  rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    user-select: none;
    font-size: 4em;
    
 
}
.slides{
   height: 40vw;
    display:flex;
    flex-wrap:wrap;
}
.slides div{
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(0, 0, 0);
   
}
.slides h1{
    background-color:rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
    user-select: none;
}
div.photo_slide:hover{
    color:rgb(39, 12, 88);
    border:3px solid rgba(255, 255, 255, 0.658);
    transition-duration: 200ms;
    
    
}
/* PAGE CITIES */
.cities_page{
    min-height: 100vh;
    background-image:url('../assets/fondo_mapa1.jpg');
    background-attachment: fixed;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:5%;
}
input#search{
    margin:3% 0 2% 0;
    width:40%;
    text-align: center;
    font-size: 1.5em;
    border:none;
    border-bottom: 1px solid black;
}
.loading{
    margin: 1% auto;
    animation-name: parpadeo ;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}
@keyframes parpadeo {
    from{color:rgb(255, 255, 255);}
    to{color:black}
}
.city{
    display:flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    width:45vw;
    height:25vh;
    margin-bottom:2.5%;
    border-radius:5px;
    border: 2px solid rgb(247, 225, 225);
    box-shadow: 0 0 6px 3px rgb(0, 0, 0);
}
.city:hover{
    transform:scaleX(1.05);
    transition-duration: 300ms;
}
.city h4{
    background-color: rgba(255, 255, 255, 0.500);
    width:100%;
    color:black;
    user-select: none;
}
/* ITINERARIES */
.city_itineraries{
    min-height: 90vh;
    padding:5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.btn_add{
    margin-bottom:10px;
    color:rgba(46, 0, 0, 0.856)
}
.btn_add:hover{
    color:rgba(0, 0, 0, 0.733)
}
.add_city{
    background-color:rgba(231, 154, 154, 0.541);
    background-image: url('../assets/turista.png');
    background-size:40%;
    background-repeat: no-repeat;
    background-position: right bottom;
    width:50%;
    height:60vh;
    border-radius:15px
}

.city_itineraries>h5{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3em;
    background-color: rgba(245, 245, 233, 0.842);
    width:40%;
    border-radius:25px;
    margin-bottom:2%;
    box-shadow: 0 0 8px 4px black;
}
.itineraries_list{
    width:100%;
    display:flex;
    flex-direction: column;
    margin:2%;
}
.single_itinerary{
    margin:3%;
    background-color:rgb(238, 226, 226);
    color:black;
    border-radius:5px;
    padding:2%;
}
.single_itinerary>h5{
    font-size:1.6em;
    text-align:center;
    background-color:rgba(132,12,12);
    padding:1%;
    width:100%;
    color:rgb(255, 255, 255);
    margin-bottom:2%;

}
.center_itinerary{
    display:flex;
    justify-content:space-between
}
.single_itinerary .info{
    display: flex;
    flex-direction:column;
    flex:1;
    justify-content: space-around;
   
}

.info_data{
    display:flex;
    justify-content:space-around;
    height:6vh;
    align-items:center
    
}
.info_data p{
    margin:0;
    padding:0
}
.info_data button{
    border:none;
    background-color: transparent;
    font-size: 1.2em;
    
}
.info_data button:focus{
   
    border:none;
    outline:none
}
.likes{
    display:flex;
    align-items:center
}
.likes p{
    margin:0;
    padding-right:5px
}

.red{
    color:red;
   
}
.user_pic{
    width:70px;
    height:70px;
    display: flex;
    border-radius:100%;
}
.center_itinerary h6{
    font-size:0.7em;
   text-align:center;
}
.itineraries{
    min-height:40vh;
    margin:2% auto;
    width:85%;
    background-color: rgba(255, 169, 169, 0.555);
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius:20px;
}
.itineraries h4{
    text-align:center;
    font-size:2em;
    padding:2%;
    color:white;
    background-color:rgba(132, 12, 12, 0.897);
    width:100%;

}
.btn_info{
    width:100%;
    text-align:center;
    padding:0 1%;
    border:none;
    font-size:0.8em;
    background-color:rgba(134, 29, 52, 0.384);
    
}
.more_info h5{
    padding-left:2%;
    color:rgb(3, 3, 22);
    margin-top:2%;
    
}
.activities_list{
    display:flex;
    justify-content: space-evenly;
    height:20vw;
}
.activity{
    display:flex;
    align-items:flex-end;
    width:30%;
    height:90%;
    background-position: center;
}
.activity h6{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1% 2%;
    color:black;
    background-color:rgb(174, 175, 221);
    width:100%;
    text-align:center;
    height:2.8em;
}
.comments{
    display:flex;
    flex-direction:column;
}
.single_comment{
    background-color:rgb(174, 175, 221);
    padding:1%;
    margin:2%;
    border-radius:5px;
    color:black;
    font-size:0.8em;

}
.user_comment{
    display: flex;
    align-items:center;
    padding-bottom: 1%;
}
.user_comment div{
    margin:0 1% 0 0;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    border-radius:100%;
    height:30px;
    width:30px    
}
.user_comment p{
    margin:0;
    padding:0;
}
.commentary{
    display:flex;
    align-items:center;
}
.controls{
    display:flex;
    justify-content:space-between
}
.btn_controls{
    
    margin-left:2%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    height: 6vh;
}
.btn_controls button, .commentary button{
  
    border:none;
    outline:none;
    font-size:1.2em;
    background-color: transparent;
}
.btn_controls button:focus, .commentary button:focus{
    border:none;
    outline:none;
}
button span{
    font-family: 'Yusei Magic', sans-serif;
    padding: 0 5px;
}
.edit_comment{
    width:90%;
    height:50%;
}
.edit_comment button{
    padding:0.5% 1%;
}
#edited_comment{
    resize:none;
    width:100%;
    
}
.input_comment{
    height:2.2em;
    border-radius:5px;
    width:80%;
    font-size:0.7em;
    margin:0 2%;
    display:flex;
    background-color:rgb(230, 230, 247);
    padding-left:1%;
   
}
.guest{
    font-size:0.8em;
    margin-left:2%
}
.buttons{
    display:flex;
    justify-content: space-between;
    width:40%;
}
button.back{
    width:13vw;
    margin:4% 0;
    padding:0 2%;
    background-image:url('../assets/button.jpg');
    background-size:cover;
    background-position: center;
    font-size:1.1em;
    color:rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 3px 3px black;
  
}
.error{
    text-align:center;
    width:100%;
    
}
/* PAGINA DE REGISTRO */
.register{
    background-image: url('../assets/register.jpg');
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    
    display:flex;
    flex-direction: column;
   
}
.btn_p{
    text-align:center;
    color:rgba(37, 32, 32, 0.932)
}
.btn_p:hover{
    text-align:center;
    color:rgba(95, 24, 24, 0.877)
}

form{
    margin:3% auto;
    border-radius: 5px;
    background-color: rgba(235, 210, 210, 0.527);
    padding:3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
    height: 60%;
}

form input, form select{
    margin:1.5%;
    padding-left:3%;
    outline:none;
    border:0;
    border-radius: 10px;
    width:70%
}

form input::placeholder{
    color:rgba(0, 0, 0, 0.342);
}
form input:focus{
    margin:1.5%;
    padding-left:3%;
    background-color:  rgba(58, 158, 240, 0.267);
    border-radius: 10px;
}
p.errors{
    color:red
}
form button{
    align-self:center;
    outline:none;
   
}
form button:focus{
    outline:none;
   
}
/* FOOTER */

footer{
    background-color: rgb(255, 255, 255);
    height: 20vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    border-top: 2px solid  rgb(132,12,12);
}
    


.top_footer{
    display:flex;
    background-image: url('../assets/footer-image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:50% 50% ;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width:100%;
}
.logo_footer{

        background-image:url('../assets/logo.png');
        width:20%;
        background-size:contain;
        background-repeat:no-repeat;
        height:70%;
  
}
footer p{
    padding:0.4%;
    font-size:0.9em;
    color:white;
    background-color: rgb(132,12,12);
    width:100%;
    text-align: center;
}

footer nav {
    width:20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
footer nav a{
    width:40%;
    height: 45%;

}
footer nav p{
    color:black;
    background-color: transparent;
}

}