
header{
    height: 45vh;
    width: 100%;
    display: flex!important;
    justify-content: space-between;
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-position:100% 62%;
}

header nav{
    display:flex!important;
    justify-content: space-around;
    align-items: center;
    width:30%;
     align-self: flex-end;
     padding-bottom: 3%;
     margin-right:2%;
}
header nav a{
    background-color:rgb(132,12,12);
    padding:1% 7%;
    border-radius:4px;
    color:rgb(255, 255, 255);
 
}
header nav a:hover{
    background-color: rgb(210, 210, 255);
    color:rgb(132,12,12)
}
header nav img{
    width:15%;
    margin-bottom:2%;
}
