@media(max-width:630px){
    html *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    #root{
        font-family: 'Yusei Magic', sans-serif;
        min-height: 100vh;
    }
    #root a:hover{
        text-decoration: none;
        
    }
    header{
        height: 18vh;
        width: 100%;
        display: flex!important;
        justify-content: space-between;
        background-image: url(../assets/banner.jpg);
        background-size: cover;
       
        background-position:100% 62%;
    }
    .logo{
        width:50vw;
        height:60%;
        background-image:url("../assets/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin:2%;
    }
    header nav{
        width:30%;
        margin:4% 2%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
     
    }

    header nav a{
        background-color:rgb(132,12,12);  
        color:rgb(255, 255, 255);
       
        font-size:0.8em;
        padding: 0 2%;
       
     
    }
    header nav a:hover{
        background-color: rgba(122, 122, 122, 0.658);
        color:rgb(132,12,12);
        transition: color 0.2s, background-color 0.5s;
    
    }
    header nav img{
        width:15%;
        
    }
    header nav p{
        height: 100%;
        margin:0;
    }
    /*HOME PAGE*/
   .home_page{
        min-height: 50vh;
        width: 100%;
        background-image:url('../assets/fondo_mapa3.jpg');
        background-position: -25% ;   
        background-size: 70%;
    }
    
    .slogan{
       display:flex;
       flex-direction: column;
       align-items: center;
     
    }
    .slogan h3, .cities_page h3, .itineraries_page h3{
        background-color: rgb(136, 12, 12);
        width:100%;
        padding:1%;
        text-align: center;
        color:white;
        font-size:1em;
        padding:1%;
        margin:0;
       
    }

    .next_page{
        width:50%;
        margin:3%;
      
    }
    .next_page img{
        width:100%;
        border: 4px solid rgb(132,12,12);
    
    }
  
    .next_page a:hover{
        transform:scale(1.1);
        text-decoration:none;
        display: flex;
        transition-duration: 600ms;
        transition-delay: 100ms;
        
     }
    
    .PopularMYtineraries{
       
        margin:3% auto;
        width:80%;
        display:flex;
        flex-direction:column;
        align-items: center;
    
    }
    .PopularMYtineraries>h2{
        background-color: rgb(136, 12, 12);
        padding:2% 3%;
        font-size:1.5em;
        text-align:center;
        color:whitesmoke;
        border-radius: 8px;
        user-select: none;
        
      
    }
    div.carousel.slide{
        width:100%;
        border:3px dotted rgba(136, 12, 12, 0.425);
    }
    a.carousel-control-next{
        margin-right:-9%;
        opacity: .8;
    }
    a.carousel-control-prev{
        margin-left:-9%;
        opacity:.8;
    }
    a.carousel-control-prev:hover,a.carousel-control-next:hover{
        opacity:1;
       
    }
    .carousel-control-next-icon{
        background-image: url('../assets/avion-next.png')!important;
        padding:54%;
    } 
    .carousel-control-prev-icon{
        background-image: url('../assets/avion-prev.png')!important;
        padding:54%;
    }
    
    .carousel-caption h2{
        font-weight: bold; 
        text-shadow:1px 1px  0  rgb(255, 255, 255);
        color:rgb(0, 0, 0);
        user-select: none;
        font-size: 1.4em;
        
     
    }
    .slides{
       height: 100vw;
        display:flex;
        flex-wrap:wrap;
    }
    .slides div{
        display:flex;
        align-items: center;
        justify-content: center;
        color:rgb(0, 0, 0);
       
    }
    .slides h1{
        background-color:rgba(255, 255, 255, 0.5);
        width: 100%;
        font-size: 1.3em;
        text-align: center;
        user-select: none;
    }
   
    /* Page Cities */
  
    .cities_page{
        min-height: 74vh;
        background-image:url('../assets/fondo_mapa3.jpg');
        background-attachment: fixed;
        text-align: center;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:5%;
    }
    input#search{
        margin:3% 0 1% 0;
        width:40%;
        text-align: center;
        font-size: 0.8em;
        margin:3% 0;
    }
    .loading{
        font-size:0.7em;
        text-align:center;
    }
    .city{
        display:flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        width:70vw;
        height:12vh;
        margin-bottom:2.5%;
        border-radius:5px;
        border: 2px solid rgb(247, 225, 225);
        box-shadow: 0 0 6px 3px rgb(0, 0, 0);
        
    }
    .city h4{
        background-color: rgba(255, 255, 255, 0.500);
        width:100%;
        font-size: 0.6em;
        color:black;
        user-select: none;
    }
    .city_itineraries{
        height: 70vh;
        background-color: rgba(0, 255, 255, 0.171);
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .city_itineraries h5{
        text-align: center;
        font-size:1.3em;
        background-color: rgba(245, 245, 233, 0.842);
        width:40%;
        border-radius:25px;
        margin:3% 0;
        box-shadow: 0 0 8px 4px black;
    }
    
    .itineraries{
        height:30%;
        width:70%;
        background-color: rgba(255, 169, 169, 0.651);
        display:flex;
        justify-content:center;
        align-items: center;
        border-radius:20px;
        margin-bottom:4%;
    
    }
    .itineraries h4{
        text-align:center;
        font-size:0.7em;
        padding:2%;
        color:white;
        background-color:rgba(132, 12, 12, 0.897);
        width:100%;
      
    }
    button.back{
        width:25vw;
        padding:0 2%;
        background-image:url('../assets/button.jpg');
        background-size:cover;
        background-position: center;
        font-size:0.6em;
        color:rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 0 0 3px 3px black;
}
    /* footer */
    footer{
       
        background-color: rgb(255, 255, 255);
        height: 8vh;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        
    
    }
    .top_footer{
        display:flex;
        background-image: url('../assets/footer-image.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 80% ;
        justify-content: space-around;
        align-items: center;
        height: 80%;
        width:100%;
        border-top: 2px solid  rgb(132,12,12);
    }
    .logo_footer{

        background-image:url('../assets/logo.png');
        width:25vw;
        flex:1;
        margin:2% 6%;
        background-size:contain;
        background-repeat:no-repeat;
        height:100%;
  
}
    footer p{
        padding:0.4%;
        font-size:0.6em;
        color:white;
        background-color: rgb(132,12,12);
        width:100%;
        text-align: center;
    }
  
    footer nav {
        display:none;
    }
    
}
@media(min-width:630px)and (max-width:1150px){
    html *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    #root{
        font-family: 'Yusei Magic', sans-serif;
        min-height: 100vh;
    }
    #root a:hover{
        text-decoration: none;
        
    }
    header{
        height: 18vh;
        width: 100%;
        display: flex!important;
        justify-content: space-between;
        background-image: url(../assets/banner.jpg);
        background-size: cover;
       
        background-position:100% 62%;
    }
    .logo{
        width:70vw;
        height:60%;
        background-image:url("../assets/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin:2%;
    }
    header nav{
        margin:4% 2%;
        width:20%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    header nav a{
        background-color:rgb(132,12,12);  
        color:rgb(255, 255, 255);
        font-size:0.8em;
        padding: 1% 3%;
       
    }
    header nav a:hover{
        background-color: rgba(122, 122, 122, 0.658);
        color:rgb(132,12,12);
        transition: color 0.2s, background-color 0.5s;
    
    }
    header nav p{
        margin:0;
        
    }
    header nav img{
        width:15%;
        
    }
    /* SECTION */
   .home_page{
        min-height: 50vh;
        width: 100%;
        background-image:url('../assets/fondo_mapa3.jpg');
        background-attachment:fixed;
        background-position: center;   
    }
    
    .slogan{
       display:flex;
       flex-direction: column;
       align-items: center;
     
    }
    .slogan h3, .cities_page h3, .itineraries_page h3{
        background-color: rgb(136, 12, 12);
        width:100%;
        padding:1%;
        text-align: center;
        color:white;
        text-shadow: 2px 2px 0 rgb(0, 0, 0);
        margin:0;
        font-size:1.3em;
       
    }

    .next_page{
        width:30%;
        margin:3%;
      
    }
    .next_page img{
        width:100%;
        border: 6px solid rgb(132,12,12);
     
    }
  
    .next_page a:hover{
        transform:scale(1.1);
        text-decoration:none;
        display: flex;
        transition-duration: 600ms;
        transition-delay: 100ms;
        
     }
    .PopularMYtineraries{
        margin:3% auto;
        width:80%;
        display:flex;
        flex-direction:column;
        align-items: center;
    
    }
    .PopularMYtineraries>h2{
        background-color: rgb(136, 12, 12);
        padding:1% 3%;
        font-size:1.5em;
        text-align:center;
        color:whitesmoke;
        border-radius: 8px;
        user-select: none;
        
      
    }
    div.carousel.slide{
        width:100%;
        border:3px dotted rgba(136, 12, 12, 0.425);
    }
    a.carousel-control-next{
        margin-right:-9%;
        opacity: .8;
    }
    a.carousel-control-prev{
        margin-left:-9%;
        opacity:.8;
    }
    a.carousel-control-prev:hover,a.carousel-control-next:hover{
        opacity:1;
       
    }
    .carousel-control-next-icon{
        background-image: url('../assets/avion-next.png')!important;
        padding:34%;
    } 
    .carousel-control-prev-icon{
        background-image: url('../assets/avion-prev.png')!important;
        padding:34%;
    }
    
    .carousel-caption h2{
        font-weight: bold; 
        text-shadow:1px 1px  0  rgb(255, 255, 255);
        color:rgb(0, 0, 0);
        user-select: none;
        font-size: 1.8em;
        
     
    }
    .slides{
       height: 80vw;
        display:flex;
        flex-wrap:wrap;
    }
    .slides div{
        display:flex;
        align-items: center;
        justify-content: center;
        color:rgb(0, 0, 0);
       
    }
    .slides h1{
        background-color:rgba(255, 255, 255, 0.5);
        width: 100%;
        font-size: 1.3em;
        text-align: center;
        user-select: none;
    }
   
    /* Page Cities */
    .cities_page{
       min-height: 74vh;
       background-image:url('../assets/fondo_mapa3.jpg');
        background-attachment: fixed;
        text-align: center;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:5%;
    }
    input#search{
        margin:3% 0 1% 0;
       
        text-align: center;
        font-size: 1em;
    }
    .city{
        display:flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        width:50vw;
        height:20vh;
        margin-bottom:2.5%;
        border-radius:5px;
        border: 2px solid rgb(247, 225, 225);
        box-shadow: 0 0 6px 3px rgb(0, 0, 0);
        
    }
    .city h4{
        background-color: rgba(255, 255, 255, 0.623);
        width:100%;
        color:rgb(1, 1, 19);
        user-select: none;
    }
    .city_itineraries{
        height: 80vh;
        background-color: rgba(0, 255, 255, 0.171);
        display:flex;
        flex-direction: column;
        align-items: center;
    }
  
.city_itineraries h5{
    text-align: center;
    font-size:2.6em;
    background-color: rgba(245, 245, 233, 0.842);
    width:40%;
    border-radius:25px;
    margin:2% 0;
    box-shadow: 0 0 8px 4px black;
    }

.itineraries{
    height:40vh;
    width:70%;
    background-color: rgba(255, 169, 169, 0.651);
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius:20px;
    margin-bottom:4%;

}
.itineraries h4{
    text-align:center;
    font-size:2em;
    padding:2%;
    color:white;
    background-color:rgba(132, 12, 12, 0.897);
    width:100%;
  
}
    button.back{
        width:13vw;
        padding:0 2%;
        background-image:url('../assets/button.jpg');
        background-size:cover;
        background-position: center;
        font-size:1.1em;
        color:rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 0 0 3px 3px black;
    }
    /* footer */
    footer{
       
        background-color: rgb(255, 255, 255);
        height: 15vh;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        
    
    }
    .top_footer{
        display:flex;
        background-image: url('../assets/footer-image.jpg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: 60% ;
        justify-content: space-around;
        align-items: center;
        height: 80%;
        width:100%;
        border-top: 2px solid  rgb(132,12,12);
    }
    .logo_footer{

        background-image:url('../assets/logo.png');
        width:25vw;
        flex:1;
        margin:2% 6%;
        background-size:contain;
        background-repeat:no-repeat;
        height:100%;
  
}
    footer p{
        padding:0.4%;
        font-size:0.6em;
        color:white;
        background-color: rgb(132,12,12);
        width:100%;
        text-align: center;
    }
  
    footer nav {
     width:30%;
     height: 80%;
     display: flex;
     flex-direction: column;
     
     align-items: center;
   
    }
    footer nav a{
       width:40%;
        height: 33.3%;
    }
    footer nav p{
        color:black;
        background-color: transparent;
    }
}