section{
    min-height: 150vh;
    padding:0;
    width: 100%;
    background-image:url('../assets/fondo_mapa.jpg');
    background-size:22% 30%;
    background-attachment:fixed;
    background-position: top;
}
.slogan{
    display:flex;
    flex-direction: column;
   align-items: center;
 
}
.slogan h3{
    background-color: rgb(136, 12, 12);
    width:100%;
    padding:1%;
    text-align: center;
    color:white
   
}
.slogan button{
    padding:4%;
    background-color: transparent;
    border:none;

}
.next_page{
    width:5vw;
}
.next_page img{
    width:100%;
    border-radius: 100%;
}

.PopularMYtineraries{
    padding-top:3%;
    margin:auto;
    width:80%;
    display:flex;
    flex-direction:column;
    align-items: center;

}
.PopularMYtineraries>h2{
    background-color: rgb(136, 12, 12);
    padding:1% 2%;
    color:whitesmoke;
    border-radius:30%;
}
div.carousel.slide{
    width:100%;
    border:6px dotted rgba(136, 12, 12, 0.425);
}

.carousel-control-next-icon{
    background-image:url('../assets/avion\ -\ copia.png');
    padding:34%;
} 
.carousel-control-prev-icon{
    background-image:url('../assets/avion.png');
    padding:34%;

}

.carousel-caption h2{
    font-weight: bold;
    
    text-shadow:3px 3px  0  rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    
 
}
.slides{
   height: 40vw;
    display:flex;
    flex-wrap:wrap;
}
.slides div{
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(0, 0, 0);
   
}
.slides h1{
    background-color:rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
}
div.photo_slide:hover{
    color:rgb(39, 12, 88);
}