@media(min-width:1150px){
section{
    min-height: 150vh;
    width: 100%;
    background-image:url('../assets/fondo_mapa2.jpg');
    background-attachment:fixed;
    background-position: top;
}

.slogan{
    display:flex;
    flex-direction: column;
   align-items: center;
 
}
.slogan h3, .cities h2{
    background-color: rgb(136, 12, 12);
    width:100%;
    padding:1%;
    text-align: center;
    color:white
   
}

.next_page{
    width:25%;
    height: 20vh;
    margin-top:3%;
  
}
.next_page img{
    width:100%;
    border: 12px solid rgb(132,12,12);
   
    
}

.next_page a:hover{
   padding:4%;
   text-decoration:none;
   display: flex;
}
.PopularMYtineraries{
    padding-top:3%;
    margin:auto;
    width:80%;
    display:flex;
    flex-direction:column;
    align-items: center;

}
.PopularMYtineraries>h2{
    background-color: rgb(136, 12, 12);
    padding:1% 2%;
    color:whitesmoke;
    border-radius: 8px;
    user-select: none;
    margin-bottom: 2%;
  
}
div.carousel.slide{
    width:100%;
    border:6px dotted rgba(136, 12, 12, 0.425);
}

.carousel-control-next-icon{
    background-image:url('../assets/avion\ -\ copia.png');
    padding:34%;
} 
.carousel-control-prev-icon{
    background-image:url('../assets/avion.png');
    padding:34%;

}

.carousel-caption h2{
    font-weight: bold; 
    text-shadow:3px 3px  0  rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    user-select: none;
    font-size: 4em;
    
 
}
.slides{
   height: 40vw;
    display:flex;
    flex-wrap:wrap;
}
.slides div{
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(0, 0, 0);
   
}
.slides h1{
    background-color:rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
    user-select: none;
}
div.photo_slide:hover{
    color:rgb(39, 12, 88);
    border:3px solid rgb(39, 12, 88);
}
/* Page Cities */
.cities{
    min-height: 100vh;
    text-align: center;
}
}